<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  
  <!--Error Handling-->
    <customErrors mode="On" defaultRedirect="/Error.aspx">
      <!--This only borks for missing .aspx extention links-->
      <error statusCode="404" redirect="/404.aspx"/>
    </customErrors>    
  </system.web>
  
  <system.webServer>
    <!--Add handling for everything not .aspx-->
  <httpErrors errorMode="Custom">
    <clear />
    <error statusCode="404" path="/404.aspx" responseMode="Redirect"/>
  </httpErrors>
  </system.webServer>
    
<appSettings>
  <!--Add a setting to allow jquery for the .net validators-->
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
</appSettings>
</configuration>